image: docker:24

services:
  - docker:24-dind

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

stages:
  - build

backend-build:
  stage: build
  script:
    - echo "Building backend image"
    - docker build -t ecommerce-backend ./backend

frontend-build:
  stage: build
  script:
    - echo "Building frontend image"
    - docker build -t ecommerce-frontend ./frontend

admin-build:
  stage: build
  script:
    - echo "Building admin image"
    - docker build -t ecommerce-admin ./admin

